@page
@model Hospi.App.Frontend.Pages.DoctorPage.EditModel

@{
    ViewData["Title"] = "Editar datos del médico";
}

<h1>@ViewData["Title"]</h1>

<h4>@Model.Doctor.Name @Model.Doctor.Surname</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Doctor.Id" />
            <div class="form-group">
                <label asp-for="Doctor.Name" class="control-label"></label>
                <input asp-for="Doctor.Name" class="form-control" />
                <span asp-validation-for="Doctor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Surname" class="control-label"></label>
                <input asp-for="Doctor.Surname" class="form-control" />
                <span asp-validation-for="Doctor.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Cellphone" class="control-label"></label>
                <input asp-for="Doctor.Cellphone" class="form-control" />
                <span asp-validation-for="Doctor.Cellphone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Genre" class="control-label"></label>
                @Html.DropDownList("Doctor.Genre",Html.GetEnumSelectList<Hospi.App.Domain.Entities.Genre>(),"Seleccionar género",new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label asp-for="Doctor.MedicalSpecialty" class="control-label"></label>
                <input asp-for="Doctor.MedicalSpecialty" class="form-control" />
                <span asp-validation-for="Doctor.MedicalSpecialty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.Code" class="control-label"></label>
                <input asp-for="Doctor.Code" class="form-control" />
                <span asp-validation-for="Doctor.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doctor.RethusRecord" class="control-label"></label>
                <input asp-for="Doctor.RethusRecord" class="form-control" />
                <span asp-validation-for="Doctor.RethusRecord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-page="./Index">Volver al listado de médicos</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
